body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin: 20px 0;
    color: gold; /* Set header text color to gold */
}

#header-image {
    height: 1em;
    margin: 0 10px;
}

#wheel-container {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
}

canvas {
    width: 100%;
    height: auto;
}

#spin-button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

#spin-button:hover {
    background-color: #666;
}

#result-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    width: 80%;
    max-width: 400px;
}

.hidden {
    display: none;
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    #spin-button {
        padding: 10px 20px;
        font-size: 16px;
    }
}
